<% javascript 'pages/chapter2.js' %>
<h1>Chapter2#myaction</h1>
<p>Find me in app/views/chapter2/myaction.html.erb</p>
<p><a href="#" onclick="alert('Hello !?');">Inline alert</a></p>
<p><a href="#" onclick="customAlert();">Call custom function</a></p>
<p><a href="#" onclick="serverSideAlert();">Call server-side function</a></p>
<p><a href="#" onclick="IEAlert();">Call server (IE-safe) function</a></p>
<p><a href="#" onclick="IEAlert_async();">Asynchronous call (IE-safe) function</a></p>
<p><a href="#" onclick="jQueryAlert();">Call with jQuery</a></p>
